._card_frpiu_1{display:flex;justify-content:space-between;align-items:center;position:fixed;bottom:0;left:0;width:100%;background-color:#fff;box-shadow:0 -4px 4px #0000000d;z-index:1000;padding:16px 24px}
