name: Build main storybook

on:
  workflow_run:
    workflows: ["Sync main to gh-pages"]
    types: [completed]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install node_modules
        run: npm ci

      - name: Build Storybook
        run: npm run build-storybook

      - name: Prepare preview directory
        run: |
          mkdir -p docs/storybook
          cp -r storybook-static/* docs/storybook/

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add docs
          git commit -m "Build storybook"
          git push origin gh-pages
