name: Comment vr tests report

on:
  pull_request:
    branches:
      - main
    paths:
      - "package.json"
      - "package-lock.json"
      - "components/**"

permissions:
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Add comment
        env:
          PR_NUMBER: ${{ github.event.number }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          {
            echo "vr-test: https://boguchi.github.io/components-expansion/pr-${{ github.event.pull_request.number }}/vr-test"
            echo "storybook: https://boguchi.github.io/components-expansion/pr-${{ github.event.pull_request.number }}/storybook"
          } > /tmp/comment
          gh pr comment "${PR_NUMBER}" -F /tmp/comment --edit-last --create-if-none
