name: Deploy main storybook

on:
  workflow_run:
    workflows: ["Build main storybook"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4

      - name: Upload Storybook
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

      - name: deployment
        uses: actions/deploy-pages@v4
