name: Deploy main storybook

on:
  push:
    branches: [gh-pages]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-pages

      - name: Upload Storybook
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

      - name: deployment
        uses: actions/deploy-pages@v4
