name: Deploy Storybook

on:
  push:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install node_modules
        run: npm ci

      - name: Build Storybook
        run: npm run build-storybook

      - name: Prepare preview directory
        run: |
          mkdir -p docs/storybook
          cp -r storybook-static/* docs/storybook/

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add docs
          git commit -m "Deploy ${{ steps.target.outputs.dir }}" || echo "No changes"
          git push

  deploy:
    timeout-minutes: 10
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4

      - name: Upload Storybook
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

      - name: deployment
        uses: actions/deploy-pages@v4
